.card{
 padding: 0;

}
.card-img-top {
  height: 15rem;
  object-fit: cover;
}
#profilecontainer{
  top:15vh; 
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 360px) and (max-width: 640px) {

 
  

#profilecontainer{
  top:15vh;
  margin-left: auto;
  margin-right: auto;
}

}

::-webkit-file-upload-button {
  background:#f50057;
  color:white;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  
 


}
::-webkit-file-upload-button:focus{
  outline: none;;
}

/* .dp__upload
{

  border-bottom: 1px solid gray;
  display: flex;
  width: 250px;

} */